<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f6ad55">
    <meta name="apple-mobile-web-app-title" content="VUE To-Do PWA">
    <link rel="apple-touch-icon" href="icons/vue-todo-192.png">
    <meta name="description" content="A To do app made with Vue">
    <meta name="theme-color" content="#f6ad55" />

    <link rel="manifest" href="manifest.json">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>VUE To-Do</title>
</head>

<body>
    <div id="app" v-cloak class="container mx-auto flex items-center flex-col mt-10">
        <header class="text-center">
            <h1 class="text-5xl font-black">To do list on Vue.js</h1>
            <p class="text-xl font-semibold mb-8">You have {{ items.length }} tasks.</p>
            <button id="butInstall" aria-label="Install" hidden></button>
        </header>

        <main class="mt-3">
            <label for="">
                <input id="add_item" type="text" placeholder="Add task"
                    class="bg-gray-200 focus:bg-white border-black border-solid border-2 px-2 py-1 w-full mb-4"
                    @keyup.enter="addItem" />
            </label>
            <!-- <button @click="addItem" type="submit">+</button> -->

            <ul class="max-w-xs">
                <li v-for="(item, index) in items" class="my-4 flex items-center justify-end">
                    <span v-if="! item.edit" class="px-2 py-1 mr-2 w-40 border-transparent border-solid border-2"
                        @click="enableEdit(index)">{{ item.title }}</span>
                    <input v-else type="text" v-model="item.title" :ref="'task'" @keyup.enter="disableEdit(index)"
                        @blur="disableEdit(index)"
                        class="px-2 py-1 mr-2 w-40 border-black border-transparent focus:border-black border-solid border-2 focus:bg-white">
                    <button
                        class="border-black border-solid border-2 bg-orange-400 hover:bg-black hover:text-orange-400 px-2 py-1 mr-2"
                        @click="removeItem(index)">Delete</button>
                    <button
                        class="border-black border-solid border-2 bg-orange-400 hover:bg-black hover:text-orange-400 px-2 py-1"
                        @click="enableEdit(index)">Edit</button>
                </li>
            </ul>

            <p class="error px-2 py-1 rounded" v-if="isError">☝This task already exists.</p>
        </main>

        <pre>{{ $data }}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="js/main.js"></script>
    <script src="install.js"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function () {
                navigator.serviceWorker.register('service-worker.js')
                    .then(function (registration) {
                        console.log('Service worker registered.', registration.scope);
                    }, function (err) {
                        console.log('Service worker failed: ', err);
                    });
            });
        }
    </script>
</body>

</html>