<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>VUE To-Do</title>
    </head>

    <body>
        <div id="app" v-cloak>
            <header>
                <h1>To do list</h1>
                <p>You have {{ items.length }} tasks.</p>
            </header>

            <main>
                <label for="add_item">Add task</label>
                <input id="add_item" type="text" @keyup.enter="addItem" />
                <!-- <button @click="addItem" type="submit">+</button> -->

                <ul>
                    <li v-for="(item, index) in items" @click="enableEdit(index)">
                        <span v-if="! item.edit">{{ item.title }}</span>
                        <!-- <input
                            type="text"
                            v-if="item.edit"
                            v-model="item.title"
                            @keyup.enter="disableEdit($event, index)"
                            @blur="disableEdit(index)"
                        /> -->
                        <input
                            type="text"
                            v-model="item.title"
                            v-if="item.edit"
                            ref='search'
                            v-on:keyup.enter="disableEdit(index)"
                            v-on:blur="disableEdit(index)">
                        <!-- <button @click="isEditing = !isEditing">Editar</button> -->
                        <button @click="removeItem(index)">Eliminar</button>
                    </li>
                </ul>

                <p class="error" v-if="isError">Este valor ya existe en la lista</p>
            </main>

            <pre>{{ $data }}</pre>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
